header {
  position: fixed;
  color: #fff;
  display: flex;
  padding: 2.5rem 3rem;
  gap: 3rem;
  z-index: 1;
}
.logo {
  position: absolute;
  top: 6px;
  left: 6px;
  }
.button {
  background-color: #353a35; 
  border: none;
  color: white;
  width: 100px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover 
{
  background-color: #d88484;
}

.read_more {
  position: absolute;
    bottom: 5%;
    left: 12%;
    max-width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .85rem;
  letter-spacing: .1rem;
  opacity: 1;
  color: #131212;
  border: 1px solid white;
  /*padding: 1rem 2rem;*/
  width: 150px;
  height: 35px;
  text-decoration: none;
 }
 .read_more:hover 
 {
  background-color: #c9cf9d;
}
* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
.full-height 
{
    height: 100vh;
    border: 1px solid black;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: relative; 
   }

.fire
{
    background-image: url("./images/fire.jpg");
}
.new
{
    background-image: url("./images/new.jpg");
}
.old
{
    background-image: url("./images/old.jpg");
}
.universe
{
    background-image: url("./images/universe.jpg");
}
.description {
    color: white;
    position: absolute;
    bottom: 25%;
    left: 5%;
    font-size:xx-large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif';
  }
  .description_tagline{
    color: white;
    position: absolute;
    bottom: 10%;
    left: 8%;
    font-size:xx-large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
  }
  footer
  {
    text-align: center;
  }
